<nav>
    <ul>
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-area="" asp-controller="Presensi" asp-action="Index">Presensi</a></li>
        <li><a asp-area="" asp-controller="Privacy" asp-action="Index">Privacy</a></li>
    </ul>
</nav>